<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h1 class="titulo"><%= @pelicula.title%></h1>

      <h3 class="rating"><%= @pelicula.rating %></h3>
    </div>
  </div>
</div>


<%= link_to '<- Regresar', peliculas_path %>
