// Place all the styles related to the peliculas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.titulo{
  padding-top: 10px;
  color: Green;
}
.rating{
  padding-top: 30px;
}

.form h1{
  padding-bottom: 30px;
  padding-left: 35%;
  color: Green;
}
.tabla{
  padding-left: 40px;
  padding-right: 40px;
}
form{
  padding-left: 25%;
}
